@model IEnumerable<Employee>

<div class="row d-flex justify-content-end">
    <div class="col-md-3">
        <form class="d-flex" asp-action="Index" asp-controller="Employee">
            <input name="searchString" class="form-control" type="search" placeholder="Pretraži po imenu.." aria-label="Search" />
            <button class="btn btn-secondary ms-1"><i class="bi bi-search"></i></button>
        </form>
    </div>
    <div class="col-md-3">
        <a asp-action="Index" class="text-dark mt-4">Vratite se na početnu listu</a>
    </div>
</div>

<h2 class="display-5 mb-2 mt-4">Lista svih zaposlenih</h2>

<div class="row mb-2 justify-content-between">
    <div class="col-3">
        <a class="btn btn-secondary" asp-action="CreateEmployee" asp-controller="Employee">Dodajte novog zaposlenog</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ime</th>
                        <th>Prezime</th>
                        <th>Sektor</th>
                        <th>Poslovna pozicija</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var line in Model)
                    {
                        <tr>
                            <td>@line.EmployeeId</td>
                            <td>@line.FirstName</td>
                            <td>@line.LastName</td>
                            <td>@line.Department.Name</td>
                            <td>@line.JobRole.Title</td>
                            <td class="d-flex justify-content-between align-content-between">
                                <a class="btn btn-secondary" asp-action="Details" asp-controller="Employee" asp-route-id="@line.EmployeeId">
                                    <i class="bi bi-search"></i>
                                </a>
                                <a class="btn btn-warning ms-2" asp-action="EditEmployee" asp-controller="Employee" asp-route-id="@line.EmployeeId">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a class="btn btn-danger ms-2" asp-action="DeleteEmployee" asp-controller="Employee" asp-route-id="@line.EmployeeId">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>